<div class="owl-carousel owl-theme home_slider">
				
    <!-- Home Slider Item -->
    <div class="owl-item">
        <div class="home_slider_background" style="background-image:url(assets/photosGST/intro22.jpg)"></div>
        <div class="home_slider_content">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <div class="home_slider_title">Bienvenue à l'espace en ligne de la gazelec </div>
                        <div class="home_slider_subtitle"></div>
                        <div class="home_slider_form_container">
                            <form action="#" id="home_search_form_1" class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
                                <button type="submit" class="home_search_button">Savoir plus</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Home Slider Item -->
    <div class="owl-item">
        <div class="home_slider_background" style="background-image:url(assets/photosGST/intro11.jpg)"></div>
        <div class="home_slider_content">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <div class="home_slider_title"> Reserver un terrain en ligne   </div>
                        <div class="home_slider_subtitle"></div>
                        <div class="home_slider_form_container">
                            <form action="#" id="home_search_form_2" class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
                                <button type="submit" class="home_search_button">Reserver</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Home Slider Item -->
    <div class="owl-item">
        <div class="home_slider_background" style="background-image:url(assets/photosGST/intro33.jpg)"></div>
        <div class="home_slider_content">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <div class="home_slider_title">S'inscrire dans une discipline</div>
                        <div class="home_slider_subtitle">Vous pouvez devenir un membre </div>
                        <div class="home_slider_form_container">
                            <form action="#" id="home_search_form_3" class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
                                <button type="submit" class="home_search_button"> S'inscrire  </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>