

	<!-- Home -->

	<div class="home">
		<div class="home_slider_container">
			
			<!-- Home Slider -->
		<app-intro-section></app-intro-section>
		</div>

		<!-- Home Slider Nav -->

		<div class="home_slider_nav home_slider_prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
		<div class="home_slider_nav home_slider_next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
	</div>

	<!-- Qui sommes Nous ? -->

	<app-apropos-section></app-apropos-section>

	<!-- Nos disciplines  -->
  <app-disciplines-section></app-disciplines-section>
	<!-- contact section  -->

	<app-contact-section></app-contact-section>
	<!-- Events -->

	<app-event-section></app-event-section>
	

	
