
<div class="courses">
    <div class="section_background parallax-window" data-parallax="scroll" data-image-src="" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Contactez Nous</h2>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container"> 
    <form class="counter_form_content d-flex flex-column align-items-center justify-content-center" action="#">
        <div class="counter_form_title"> </div>
        <input type="text" class="counter_input" placeholder="Nom" required="required">
        <input type="text" class="counter_input" placeholder="Prenom" required="required">
        <input type="email" class="counter_input" placeholder="Email" required="required">
        <input type="tel" class="counter_input" placeholder="Sujet" required="required">
        <textarea class="counter_input counter_text_input" placeholder="Message:" required="required"></textarea>
        <button type="submit" class="counter_form_button">submit now</button>
        <br> 
        <br> 
        <br> 
    </form>
</div>