<div class="features">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Qui Sommes-nous ?</h2>
                    <div class="section_subtitle"><p class="text-dark" style="font-size: x-large;"> <br> <strong>Le Gazelec Sport de Tunis , Créé en 1949, une histoire pleine d’événements et de réussites sportives sur le plan national et international.
                        La passion qui anime notre club se trouve récompensé a tous les niveaux.
                    </strong> </p> </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <div class="courses_button trans_200"><a href="#">Savoir Plus </a></div>
            </div>
        </div>
        <!--start-->
        <div class="news">
            <div class="container">
                <div class="row news_row">
                    <div class="col-lg-7 news_col">
                        
                        <!-- News Post Large -->
                        <div class="news_post_large_container">
                            <div class="news_post_large">
                                <div class="news_post_image"><img src="assets/photosGST/home2.jpg" alt=""></div>
                                <div class="news_post_large_title"><p style="color: #191970; font-size: large;"> <strong> Gazelec Sport de Tunis</strong> </p></div>
                                <div class="news_post_text">
                                    <p class="text-dark" style="font-size: x-large;" > <strong>Le Gazelec Sport de Tunis qui compte en son sein 2000 adhérents et 1206 sportifs licenciés dans six sections individuelles et deux collectives se veut ouvert, accessible et accueillant pour tous. </strong>
                                    </p>
                                </div>
                                <div class="news_post_link"><a href="blog_single.html">Savoir plus </a></div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-5 news_col">
                        <div class="news_posts_small">
    
                            <!-- News Posts Small -->
                            <div class="news_post_small">
                                <div class="news_post_small_title"><p  style="color: #191970; font-size: large;"><strong>le Gazelec est reconnu au niveau national et de même international pour sa capacité à organiser des évènements sportifs de haut niveau
                                    </strong>
                                    </p></div>
                                <div class="news_post_meta">
                                    <ul>
                                    <li> <p class="text-dark"> Adresse: Avenue Ibn Charaf – Tunis Belevedère 1002 - Tunis
                                    </p></li>
                                    </ul>
                                    <ul>
                                        <li>
                                            <p class="text-dark"> Tel: 71 287 053  </p>
                                        </li>
                                        </ul>
                                </div>
                            </div>
    
                            <!-- News Posts Small -->
                            <div class="news_post_small">
                                <div class="news_post_small_title"><p style="color: #191970; font-size: large;"><strong>  Un programme d’enseignement « adultes » est organisé afin de répondre aux besoins de nos adhérents loisirs. 
                                </strong></p></div>
                                <div class="news_post_meta">
                
                                </div>
                            </div>
    
                            <!-- News Posts Small -->
                            <div class="news_post_small">
                                <div class="news_post_small_title"><p style="color: #191970; font-size: large;"><strong> Le club dispose d’infrastructures exceptionnelles permettant la pratique du sport tout au long de l’années
                                </strong> </p></div>
                                <div class="news_post_meta">
                                </div>
                            </div>
    
        
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end-->
       
    </div>
</div>