<div class="courses">
    <div class="section_background parallax-window" data-parallax="scroll" data-image-src="assets/images/courses_background.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Decouvrez nos disciplines </h2>
                    <div class="section_subtitle"><p class="text-dark">Vous pouvez s'inscrire en ligne et devenir un membre dans l'un de nos disciplines</p></div>
                </div>
            </div>
        </div>
        <div class="row courses_row">
            
            <!-- discipline 1  -->
            <div class="col-lg-4 course_col">
                <div class="course">
                    <div class="course_image"><img src="assets/photosGST/volley1.png" alt=""></div>
                    <div class="course_body">
                        <h3 class="course_title"><a href="course.html"> HandBall  </a></h3> 
                        <p> 6 terrains </p>
                    </div>
                </div>
            </div>

            <!-- discipline 2 -->
            <div class="col-lg-4 course_col">
                <div class="course">
                    <div class="course_image"><img src="assets/photosGST/tennis1.jpg" alt=""></div>
                    <div class="course_body">
                        <h3 class="course_title"><a href="course.html">Tennis </a></h3> 
                        <p> 6 terrains </p>
                    </div>
                   
                </div>
            </div>
            <!-- discipline 3  -->
            <div class="col-lg-4 course_col">
                <div class="course">
                    <div class="course_image"><img src="assets/photosGST/basket.jpg" alt=""></div>
                    <div class="course_body">
                        <h3 class="course_title"><a href="course.html"> BasketBall </a></h3> 
                        <p> 6 terrains </p>
                        
                    </div>
                </div>
            </div>
            <!-- discipline 4 -->
            <div class="col-lg-4 course_col">
                <div class="course">
                    <div class="course_image"><img src="assets/photosGST/volleyBall.jpg" alt=""></div>
                    <div class="course_body">
                        <h3 class="course_title"><a href="course.html"> VollayBall  </a></h3> 
                        <p> 6 terrains </p>
                    </div>
                    
                </div>
            </div>
            <!-- discipline 5 -->
            <div class="col-lg-4 course_col">
                <div class="course">
                    <div class="course_image"><img src="assets/photosGST/pingpong3.jpg" alt=""></div>
                    <div class="course_body">
                        <h3 class="course_title"><a href="course.html"> Ping Pong  </a></h3> 
                    </div>
                   
                </div>
            </div>
            <!-- discipline 6 -->
            <div class="col-lg-4 course_col">
                <div class="course">
                    <div class="course_image"><img src="assets/photosGST/karate.jpg" alt=""></div>
                    <div class="course_body">
                        <h3 class="course_title"><a href="course.html"> Karaté  </a></h3> 
                    </div>
                    
                </div>
            </div>
             <!-- discipline 7 -->
             <div class="col-lg-4 course_col">
                <div class="course">
                    <div class="course_image"><img src="assets/photosGST/natation.jpg" alt=""></div>
                    <div class="course_body">
                        <h3 class="course_title"><a href="course.html"> Natation  </a></h3> 
                    </div>
                    
                </div>
            </div>
             <!-- discipline 8 -->
             <div class="col-lg-4 course_col">
                <div class="course">
                    <div class="course_image"><img src="assets/photosGST/petanque.jpg" alt=""></div>
                    <div class="course_body">
                        <h3 class="course_title"><a href="course.html"> Petanque  </a></h3> 
                    </div>
                    
                </div>
            </div>
             <!-- discipline 9 -->
             <div class="col-lg-4 course_col">
                <div class="course">
                    <div class="course_image"><img src="assets/photosGST/aikido1.jpg" alt=""></div>
                    <div class="course_body">
                        <h3 class="course_title"><a href="course.html"> Aikido </a></h3> 
                    </div>
                    
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <div class="courses_button trans_200"><a href="#">Devenir memebre </a></div>
            </div>
        </div>
    </div>
</div>